<mat-card class="mt-2">
  <mat-card-title class="d-flex align-items-center flex-column mb-3 mt-4">
    <!-- <app-logo [size]="40" class="mb-3"></app-logo> -->
    <h2>注册</h2>
  </mat-card-title>
  <mat-card-subtitle class="text-center mb-4">
    <p>在ProjectHub轻松实现需求与开发完美对接</p>
  </mat-card-subtitle>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-card-content>
      <!-- 邮箱 -->
      <div class="form-item">
        <label>邮 箱</label>
        <input type="email" formControlName="email" required placeholder="请输入邮箱">
      </div>
      <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
        <div *ngIf="email.getError('required') Else emailInvaildTpl">
          请输入邮箱
        </div>
        <ng-template #emailInvaildTpl>请输入正确邮箱格式</ng-template>
      </mat-error>
      <form formGroupName="pwd">
        <!-- 密码 -->
        <div class="form-item">
          <label>密 码</label>
          <input type="password" formControlName="password" required minlength="6" placeholder="请输入6~15位的密码">
        </div>
        <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
          <div *ngIf="password.getError('required')">
            请输入密码
          </div>
          <div *ngIf="password.getError('minlength')">
            密码不可小于6位
          </div>
          <div *ngIf="password.getError('maxlength')">
            密码不可大于15位
          </div>
        </mat-error>
        <!-- 确认密码 -->
        <div class="form-item">
          <label>确认密码</label>
          <input type="password" formControlName="password2" required minlength="6" placeholder="请确认密码">
        </div>
        <mat-error *ngIf="pwd.invalid && password.valid && (password2.dirty || password2.touched)">
          {{ pwd.getError('notEqual') }}
        </mat-error>
      </form>
      <form formGroupName="profile">
        <!-- 昵称 -->
        <div class="form-item">
          <label>昵 称</label>
          <input type="text" formControlName="name" required maxlength="6" placeholder="请输入昵称，不得大于6个字符">
        </div>
        <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
          <div *ngIf="name.getError('required')">
            请输入昵称
          </div>
        </mat-error>
        <!-- 手机号 -->
        <div class="form-item">
          <label>手机号</label>
          <input type="phone" formControlName="phone" required maxlength="11" placeholder="请输入手机号">
        </div>
        <mat-error *ngIf="phone.invalid && (phone.dirty || phone.touched)">
          <div *ngIf="phone.getError('required')">
            请输入手机号
          </div>
          <div *ngIf="phone.getError('pattern')">
            请输入正确手机号
          </div>
        </mat-error>
      </form>
      <!-- 身份 -->
      <div class="form-item">
        <label>选择身份</label>
        <mat-radio-group formControlName="role" required>
          <mat-radio-button value="2">我是产品经理</mat-radio-button>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <mat-radio-button value="3">我是开发者</mat-radio-button>
        </mat-radio-group>
      </div>
    </mat-card-content>
    <mat-card-actions class="d-flex align-items-center justify-content-between">
      <a mat-button color="primary" [routerLink]="['/sub/login']" [queryParams]="{title: '登录'}">去登录</a>
      <!-- <button mat-raised-button color="primary" type="submit"> -->
        <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">
        注册
      </button>
    </mat-card-actions>
  </form>

  <p class="copyright">Copyright © 2019 ProjectHub </p>
</mat-card>