<mat-card>

  <mat-card-title class="d-flex align-items-center flex-column mb-3">
    <img class="avatar" *ngIf="userInfo.profile.avatar as avatar; else defaultAvatar" [src]="avatar">
    <ng-template #defaultAvatar>
      <img class="avatar" src="../../../assets/image/shield-large.svg">
    </ng-template>
    <h2>
      {{userInfo.profile.name}}
    </h2>
    <p class="text-center">{{userInfo.profile.desc}}</p>
  </mat-card-title>
  <mat-list>
    <mat-divider></mat-divider>
    <h3 matSubheader>信息</h3>
    <mat-list-item>
      <mat-icon matListIcon>account_circle</mat-icon>
      <h3 mat-line>{{userInfo.role | userRole}}</h3>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListIcon>email</mat-icon>
      <h3 mat-line>{{userInfo.email}}</h3>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListIcon>phone</mat-icon>
      <h3 mat-line>{{userInfo.profile.phone}}</h3>
    </mat-list-item>
    <h3 matSubheader>功能</h3>
    <mat-nav-list>
      <a mat-list-item>
        <!-- <mat-icon matListIcon>edit</mat-icon> -->
        <mat-icon matListIcon>settings</mat-icon>
        <h3 mat-line>修改信息</h3>
      </a>
      <a mat-list-item>
        <mat-icon matListIcon>security</mat-icon>
        <h3 mat-line>修改密码</h3>
      </a>
      <!-- <a mat-list-item>
        <mat-icon matListIcon>settings</mat-icon>
        <h3 mat-line>设置</h3>
      </a> -->
    </mat-nav-list>
    <mat-divider></mat-divider>
    <h3 matSubheader>退出登录</h3>
    <mat-nav-list>
      <a mat-list-item (click)="handleLoginOut()">
        <mat-icon matListIcon>exit_to_app</mat-icon>
        <h3 mat-line>退出登录</h3>
      </a>
    </mat-nav-list>
  </mat-list>

</mat-card>