<mat-card *ngIf="userInfo">
  <mat-card-title class="d-flex align-items-center flex-column mb-3">
    <img class="avatar"
      (click)="handleChooseImg()"
      *ngIf="userInfo.profile.avatar as avatar"
      [src]="avatar">
    <input type="file"
      id="avatar-input"
      hidden
      (change)="uploadImg($event)" />
    <h2>
      {{userInfo.profile.name}}
    </h2>
    <p class="text-center">{{userInfo.profile.desc}}</p>
  </mat-card-title>
  <!-- 信息 -->
  <mat-list>
    <mat-divider></mat-divider>
    <h3 matSubheader>信息</h3>
    <mat-list-item>
      <mat-icon matListIcon>account_circle</mat-icon>
      <h3 mat-line>{{userInfo.role | userRole}}</h3>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListIcon>email</mat-icon>
      <h3 mat-line>{{userInfo.email}}</h3>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListIcon>phone</mat-icon>
      <h3 mat-line>{{userInfo.profile.phone}}</h3>
    </mat-list-item>
  </mat-list>
  <!-- 功能 -->
  <mat-list>
    <h3 matSubheader>功能</h3>
    <mat-nav-list *ngIf="userInfo.role === 2">
      <a mat-list-item
        [routerLink]="['/sub/user-project']">
        <mat-icon matListIcon>settings</mat-icon>
        <h3 mat-line>我发布的项目</h3>
      </a>
    </mat-nav-list>
    <mat-nav-list *ngIf="userInfo.role === 3">
      <a mat-list-item
        [routerLink]="['/sub/user-project']">
        <mat-icon matListIcon>settings</mat-icon>
        <h3 mat-line>我开发的项目</h3>
      </a>
    </mat-nav-list>
  </mat-list>
  <!-- 修改 -->
  <mat-list *ngIf="selfProfile">
    <h3 matSubheader>修改</h3>
    <mat-nav-list>
      <a mat-list-item
        (click)="openChangeInfo()">
        <!-- <mat-icon matListIcon>edit</mat-icon> -->
        <mat-icon matListIcon>settings</mat-icon>
        <h3 mat-line>修改信息</h3>
      </a>
      <a mat-list-item
        (click)="openChangePwd()">
        <mat-icon matListIcon>security</mat-icon>
        <h3 mat-line>修改密码</h3>
      </a>
    </mat-nav-list>
  </mat-list>

</mat-card>
<button *ngIf="selfProfile"
  class="mt-3"
  mat-raised-button
  color="warn"
  block
  (click)="handleLoginOut()">退出登录</button>