<div class="msg-wrap">
  <mat-list>
    <h3 matSubheader
      class="d-flex align-items-center justify-content-between">
      <button mat-button
        color="warn"
        (click)="delChecked()">删除已读</button>
    </h3>
    <div class="mt-5 text-center"
      *ngIf="msgs?.length == 0; else msgList">
      还没有新消息~
    </div>
    <ng-template #msgList>
      <mat-nav-list>
        <div *ngFor="let item of msgs">
          <a mat-list-item
            *ngIf="!item.isAction"
            [ngClass]="{'checked': item.checked }"
            (click)="navigateToProject(item)">
            <img matListAvatar
              *ngIf="item.from_user.profile.avatar as avatar"
              [src]="avatar">
            <h4 mat-line
              class="d-flex align-items-center justify-content-between">
              {{item.from_user.profile.name | titlecase}}
              <span>{{item.create_time | date: 'yyyy-MM-dd hh:mm:ss'}}</span>
            </h4>
            <p mat-line> {{item.content}} </p>
            <mat-divider></mat-divider>
          </a>
          <mat-expansion-panel *ngIf="item.isAction"
            [ngClass]="{'checked': item.checked}">
            <mat-expansion-panel-header [ngClass]="{'checked': item.checked}">
              <mat-panel-title [routerLink]="['/home/user']"
                [queryParams]="{'id': item.from_user._id}">
                <img matListAvatar
                  *ngIf="item.from_user.profile.avatar as avatar"
                  [src]="avatar">
                {{item.from_user.profile.name}}
              </mat-panel-title>
              <mat-panel-description>
                {{item.checked ? '已处理' : '未处理'}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>{{item.content}}</p>
            <div *ngIf="!item.checked">
              <button block
                mat-raised-button
                color="accent"
                class="mb-3 mt-4"
                (click)="actionMsg(item, true)">确认</button>
              <button block
                mat-raised-button
                (click)="actionMsg(item, false)">取消</button>
            </div>
          </mat-expansion-panel>
          <mat-divider></mat-divider>
        </div>
      </mat-nav-list>
    </ng-template>
  </mat-list>
</div>