<mat-list>
  <h3 matSubheader class="d-flex align-items-center justify-content-between">
    <p>消息列表</p>
    <button mat-button (click)="allChecked()">全部标记为已读</button>
  </h3>
  <div class="mt-5 text-center" *ngIf="!!!userInfo?.msgs; else msgList">
    还没有新消息~
  </div>
  <ng-template #msgList>
    <mat-nav-list>
      <a mat-list-item *ngFor="let item of userInfo?.msgs; let i = index" [ngClass]="{'checked': item.checked }" (click)="navigateToProject(item, i)" >
        <img matListAvatar *ngIf="item.from_user.profile.avatar as avatar; else defaultAvatar" [src]="avatar">
        <ng-template #defaultAvatar>
          <img matListAvatar src="../../../assets/image/shield-large.svg">
        </ng-template>
        <h4 mat-line>
          {{item.from_user.profile.name | titlecase}} •
          <span>{{item.create_time | date: 'yyyy-MM-dd hh:mm:ss'}}</span>
        </h4>
        <p mat-line> {{item.content}} </p>
        <mat-divider></mat-divider>
      </a>
    </mat-nav-list>
  </ng-template>
</mat-list>