<section class="projs">
  <div class="proj-item" *ngFor="let item of projects" [routerLink]="[ '/sub/project', item.id ]">
    <div class="top-info">
      <img *ngIf="item.demand_user.profile.avatar as avatar; else defaultAvatar" [src]="avatar">
      <ng-template #defaultAvatar>
        <img src="../../../assets/image/shield-large.svg">
      </ng-template>
      <div class="text">
        <h6>{{item.title}}</h6>
        <p>{{item.create_time | date: 'yyyy-MM-dd hh:mm:ss'}}</p>
      </div>
    </div>
    <div class="desc">
      <span>{{item.desc}}</span>
      <a>阅读全文</a>
    </div>
    <mat-chip-list>
      <mat-chip color="{{ item.status | projectColor }}" selected>{{ item.status | projectStatus }}</mat-chip>
    </mat-chip-list>
  </div>
</section>


<div class="fix-add-btn" *ngIf="userInfo && userInfo.role !== 3">
<!-- <div class="fix-add-btn"> -->
  <button mat-fab routerLink="/sub/project-edit/0">
    <mat-icon>add</mat-icon>
  </button>
</div>