<div class="filter-wrap">
  <div class="filter-bar d-flex align-item-center justify-content-between">
    <button mat-button
      class="filter-item"
      [matMenuTriggerFor]="timeMenu">
      发布时间
    </button>
    <mat-menu #timeMenu="matMenu">
      <button mat-menu-item>最新优先</button>
      <button mat-menu-item>最早优先</button>
      <button mat-menu-item>自定义时间段</button>
    </mat-menu>
    <button mat-button
      (click)="changeFilterExpand(1)"
      class="filter-item">
      开发周期
    </button>
    <button mat-button
      (click)="changeFilterExpand(2)"
      class="filter-item">
      开发预算
    </button>
    <button mat-button
      (click)="changeFilterExpand(3)"
      class="filter-item">
      &nbsp;技术栈&nbsp;
    </button>
  </div>

  <div class="filter-expand"
    *ngIf="showFilterExpand">
    <!-- 1.周期 -->
    <div *ngIf="showFilterExpand === 1">
      <mat-radio-group [(ngModel)]="formData.cycle">
        <mat-radio-button *ngFor="let item of cycles"
          [value]="item.value">{{item.name}}</mat-radio-button>
      </mat-radio-group>
    </div>
    <!-- 2.预算 -->
    <div *ngIf="showFilterExpand === 2">
      <p class="mb-2">选择金额区间: ￥{{formData.price[0]}} - ￥{{formData.price[1]}}</p>
      <nz-slider [nzRange]="true"
        [nzMax]="5000"
        [nzMin]="50"
        [nzStep]="50"
        [nzTipFormatter]="formatterPrice"
        [(ngModel)]="formData.price"></nz-slider>
    </div>
    <!-- 3.技术栈 -->
    <div *ngIf="showFilterExpand === 3">
      <nz-checkbox-group [(ngModel)]="formData.skill"></nz-checkbox-group>
    </div>
    <!-- button -->
    <div class="button-wrap">
      <button mat-raised-button style="margin-right: 40px;">全部清除</button>

      <button mat-raised-button>清除</button>
      <button mat-raised-button
        color="primary">确定</button>
    </div>
  </div>
</div>

<section class="projs"
  *ngIf="projects?.length; else NoProject">
  <div class="proj-item"
    *ngFor="let item of projects"
    [routerLink]="[ '/sub/project', item._id ]">
    <div class="top-info">
      <img *ngIf="item.demand_user.profile.avatar as avatar"
        [src]="avatar">
      <div class="text">
        <h6>{{item.title}}</h6>
        <p>{{item.create_time | date: 'yyyy-MM-dd hh:mm:ss'}}</p>
      </div>
    </div>
    <div class="desc">
      <span>{{item.desc}}</span>
      <a>阅读全文</a>
    </div>
    <div class="d-flex align-item-center justify-content-between">
      <mat-chip-list>
        <mat-chip color="{{ item.status | projectColor }}"
          selected>{{ item.status | projectStatus }}</mat-chip>
      </mat-chip-list>
      <p class="desc mt-2 toe ml-2 "
        style="max-width: 200px;">
        <span *ngFor="let skill of item.skills">{{skill | skill}} | </span>
      </p>
    </div>
  </div>
</section>

<ng-template #NoProject>
  <p class="mt-5 text-center">还没有项目~</p>
</ng-template>

<div class="fix-add-btn"
  *ngIf="userSrv.userInfo && userSrv.userInfo.role !== 3">
  <!-- <div class="fix-add-btn"> -->
  <button mat-fab
    (click)="pushToAddProject()">
    <mat-icon>add</mat-icon>
  </button>
</div>