<div class="filter-wrap">
  <div class="filter-bar d-flex align-item-center justify-content-between">
    <button mat-button
      class="filter-item"
      [matMenuTriggerFor]="timeMenu">
      发布时间
      <mat-menu #timeMenu="matMenu">
        <button mat-menu-item
          (click)="sortByNew()">最新优先</button>
        <button mat-menu-item
          (click)="sortByOld()">最早优先</button>
      </mat-menu>
    </button>
    <button mat-button
      (click)="changeFilterExpand(1)"
      class="filter-item">
      项目信息筛选
    </button>
    <button mat-button
      (click)="changeFilterExpand(2)"
      class="filter-item">
      估价筛选
    </button>
  </div>

  <div class="filter-expand"
    *ngIf="showFilterExpand">
    <!-- 1.周期 -->
    <div *ngIf="showFilterExpand === 1">
      <h4>周期</h4>
      <div class="fe-wrap">
        <mat-radio-group [(ngModel)]="formData.cycle">
          <mat-radio-button *ngFor="let item of cycles"
            [value]="item.value">{{item.name}}</mat-radio-button>
        </mat-radio-group>
      </div>
      <h4>预算</h4>
      <div class="fe-wrap">
        <p class="mb-2">选择金额区间: ￥{{formData.price[0]}} - ￥{{formData.price[1]}}</p>
        <nz-slider [nzRange]="true"
          [nzMax]="10000"
          [nzMin]="0"
          [nzStep]="50"
          [nzTipFormatter]="formatterPrice"
          [(ngModel)]="formData.price"></nz-slider>
      </div>
      <h4>技术栈</h4>
      <div class="fe-wrap">
        <nz-checkbox-group [(ngModel)]="skillList"></nz-checkbox-group>
      </div>
    </div>
    <!-- 2 -->
    <div *ngIf="showFilterExpand === 2">
      <h4>项目类型</h4>
      <div class="fe-wrap">
        <mat-radio-group [(ngModel)]="formData.project_type">
          <mat-radio-button *ngFor="let item of PSList"
            [value]="item.type">{{item.type}}</mat-radio-button>
        </mat-radio-group>
      </div>
      <h4>估价</h4>
      <div class="fe-wrap">
        <p class="mb-2">选择金额区间: ￥{{formData.project_assess[0]}} - ￥{{formData.project_assess[1]}}</p>
        <nz-slider [nzRange]="true"
          [nzMax]="10000"
          [nzMin]="0"
          [nzStep]="50"
          [nzTipFormatter]="formatterPrice"
          [(ngModel)]="formData.project_assess"></nz-slider>
      </div>
    </div>
    <!-- button -->
    <div class="button-wrap">
      <button mat-raised-button
        (click)="clearAllQuery()">清除</button>
      <button mat-raised-button
        (click)="handleGetProjects()"
        color="primary">确定</button>
    </div>
  </div>
</div>

<!-- 列表 -->
<section class="projs"
  *ngIf="projects?.length; else NoProject">
  <div class="proj-item"
    *ngFor="let item of projects"
    [routerLink]="[ '/sub/project', item._id ]">
    <div class="top-info">
      <img *ngIf="item.demand_user.profile.avatar as avatar"
        [src]="avatar">
      <div class="text">
        <h6>{{item.title}}&nbsp;&nbsp;·&nbsp;&nbsp;{{item.project_type}}</h6>
        <p>{{item.create_time | date: 'yyyy-MM-dd hh:mm:ss'}}</p>
      </div>
    </div>
    <div class="desc">
      <span>{{item.desc}}</span>
      <a>阅读全文</a>
    </div>
    <div class="d-flex align-item-center justify-content-between">
      <mat-chip-list>
        <mat-chip color="{{ item.status | projectColor }}"
          selected>{{ item.status | projectStatus }}</mat-chip>
      </mat-chip-list>
      <p class="desc mt-2 toe ml-2 "
        style="max-width: 200px;">
        <span *ngFor="let skill of item.skills">{{skill | skill}} | </span>
      </p>
    </div>
  </div>
</section>

<!-- 没项目 -->
<ng-template #NoProject>
  <p class="mt-5 text-center">还没有项目~</p>
</ng-template>

<!-- 添加项目 -->
<div class="fix-add-btn"
  *ngIf="userSrv.userInfo && userSrv.userInfo.role !== 3">
  <!-- <div class="fix-add-btn"> -->
  <button mat-fab
    (click)="pushToAddProject()">
    <mat-icon>add</mat-icon>
  </button>
</div>