@import "../../../assets/css/class.scss";

.proj-item {
  max-height: 300px;

  .top-info {

    .text {
      height: 35px;

      h6 {
        @extend .toe;
        margin-bottom: 0;
      }
    }

  }

  .content {
    a {
      color: #2196f3;
    }
  }
}

.fix-add-btn {
  position: fixed;
  bottom: 65px;
  right: 30px;
  border-radius: 50%;
}