<mat-card class="mt-2">

  <mat-card-title class="d-flex align-items-center flex-column mb-3 mt-2">
    <app-logo [size]="40" class="mb-3"></app-logo>
    <h2>请先登录</h2>
  </mat-card-title>
  <mat-card-subtitle class="text-center mb-4">
    <p>在ProjectHub轻松实现需求与开发完美对接</p>
  </mat-card-subtitle>

  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <mat-card-content>
      <div class="form-item">
        <label for="name">邮箱</label>
        <input type="email" name="name" [(ngModel)]="user.email" required>
      </div>
      <div class="form-item">
        <label for="password">密码</label>
        <input type="password" name="password" [(ngModel)]="user.password" required>
      </div>
    </mat-card-content>
    <mat-card-actions class="d-flex align-items-center justify-content-between">
      <a mat-button color="primary" [routerLink]="['/sub/register']" [queryParams]="{title: '注册账号'}">注册账号</a>
      <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">
        登录
      </button>
    </mat-card-actions>
  </form>

  <p class="copyright">Copyright © 2019 ProjectHub </p>
</mat-card>
<button mat-raised-button block color="primary" (click)="fakeLogin(1)">
  测试用demander1登录
</button><br>
<button mat-raised-button block color="primary" (click)="fakeLogin(2)">
  测试用dev1登录
</button>