<mat-card class="mt-2">
    <mat-card-title class="d-flex align-items-center flex-column mb-3 mt-2">
      <h2>选择项目功能</h2>
    </mat-card-title>
    <mat-card-subtitle class="text-center mb-4">
      <p></p>
    </mat-card-subtitle>
    <!-- list -->
    <div class="list">
      <div class="fun1-wrap">
        <div class="fun2-wrap"></div>
      </div>
    </div>
    <!-- 下一步 -->
    <button mat-raised-button
      color="accent"
      (click)="submit()"
      type="submit">
      下一步
    </button>
  
  </mat-card>