<div *ngIf="project">
  <!-- main -->
  <div class="proj-item">
    <div class="top-info">
      <img *ngIf="project.avatar; else defaultAvatar" [src]="project.avatar">
      <ng-template #defaultAvatar>
        <img src="../../../assets/image/shield-large.svg">
      </ng-template>
      <div class="text">
        <h6>{{project.title}}</h6>
        <p>{{project.create_time | date: 'yyyy-MM-dd hh:mm:ss'}}</p>
      </div>
    </div>
    <h2>项目详情</h2>
    <div class="desc">{{project.desc}}</div>
    <h2>技能需求</h2>
    <mat-chip-list>
      <mat-chip *ngFor="let item of project.skills | array" color="accent">{{ item | skill }}</mat-chip>
    </mat-chip-list>
    <h2>项目佣金</h2>
    <div class="desc">￥{{project.price}}</div>
    <h2>项目流程</h2>
    <mat-chip-list>
      <div class="status-row">
        <div class="status-item" *ngFor="let item of [0,1,2,3]">
          <mat-chip color="accent" :selected="{{item === project.status}}">{{ item | projectStatus }}</mat-chip>
            <p>{{item | projectStatusText}}</p>
        </div>
      </div>
    </mat-chip-list>
  </div>
  <!-- 评论 -->
  <div *ngIf="!!project.comments">
    <div class="comment-item" *ngFor="let item of project.comments; let i=index">
      <div class="top-info">
        <img *ngIf="item.user.avatar; else defaultAvatar" [src]="item.user.avatar">
        <ng-template #defaultAvatar>
          <img src="../../../assets/image/shield-large.svg">
        </ng-template>
        <div class="text">
          <div>
            <h6>{{item.user.profile.name}}</h6>
            <span>#{{i}}</span>
          </div>
          <p>{{item.create_time | date: 'yyyy-MM-dd hh:mm:ss'}}</p>
          <p class="content">{{item.content}}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- bottom -->
  <div class="footer-comments">
    <img *ngIf="userInfo.profile.avatar; else defaultAvatar" [src]="userInfo.profile.avatar">
    <ng-template #defaultAvatar>
      <img src="../../../assets/image/shield-large.svg">
    </ng-template>
    <div class="add-comments-wrap">
      添加评论...
    </div>
  </div>
</div>