$nav-index: 10;
// nav
mat-toolbar {
  background: #24292e;
  color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: $nav-index;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);

  mat-toolbar-row {
    padding: 0;
  }

  .left-btn {
    height: 100%;
    margin-right: 6px;
  }
  span {
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .right-btn {
    margin-right: 15px;
    margin-left: auto;
  }

}

// side
mat-sidenav {
  min-width: 250px;
}

// main
.main {
  height: 100vh;
  min-height: 450px;
  box-sizing: border-box;
  overflow: scroll;
  padding: 10px 1rem 65px 1rem;
  background-color: #fafafa;
}

// footer
.footer-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: $nav-index;
  background-color: #fff;
  border-top: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    flex: 1;
    min-height: 44px;
    border-radius: 0;

    &.active {
      mat-icon {
        color: #24292e;
      }
    }

    mat-icon {
      color: #aaa;
    }
  }
}