/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';
@include mat-core();

//白天主题
$my-app-primary:mat-palette($mat-grey, 800);
$my-app-accent:mat-palette($mat-blue, 500);
$my-app-warn:mat-palette($mat-deep-orange, 700);
$my-app-theme:mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);

//黑夜主题
$my-dark-primary:mat-palette($mat-blue-grey);
$my-dark-accent:mat-palette($mat-amber, A200, A100, A400);
$my-dark-warn:mat-palette($mat-deep-orange);
$my-dark-theme:mat-dark-theme($my-dark-primary, $my-dark-accent, $my-dark-warn);

.myapp-dark-theme {
  @include angular-material-theme($my-dark-theme);
}

button[block] {
  display: block;
  width: 100%;
}
h4.mat-line{
  margin-bottom: 6px !important;
  span {
    font-size: .7em;
  }
}
mat-form-field.mat-form-field {
  display: block !important;
}

// zorro
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  color: rgba(0,0,0,.85);
  font-weight: 500;
}
address, dl, ol, p, pre, ul {
  margin-bottom: 0 !important;
}
.ant-checkbox-wrapper {
  margin-bottom: 14px !important;
  margin-right: 12px !important;
  margin-left: 0 !important;
}